<!-- tb header Start -->
<header>
  <div class="serach-header">

    <div class="searchbox">
      <button class="close">×</button>
      <form>
        <input type="search" placeholder="Search …">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="topbar inner_topbar">
    <div class="container">
      <div class="row">
        <div class="topheader_bg topheader_bg_2">
          <div class="top_header_add top_header_add_2 hidden-xs hidden-sm">
            <ul>
              <li><i class="fa fa-phone" aria-hidden="true"></i> + 1800. 12345. 67890</li>
              <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> mail@website.com</a></li>
            </ul>
          </div>

          <!-- Social Icon -->
          <div class="social_links_wrapper">
            <div class="social_links">
              <ul>
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                <li class="hidden-xs"><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                <li class="hidden-xs"><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                <li class="dropdown">
                  <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../assets/images/{{defaultLang}}.png" alt="Flag" title="Flag"><i class="fa fa-caret-down"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="setLanguage('bg')"><img src="../../assets/images/bg.png" alt="Flag" title="Flag">{{'bg' | translate}}</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="setLanguage('en')"><img src="../../assets/images/en.png" alt="Flag" title="Flag">{{'en' | translate}}</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="setLanguage('ru')"><img src="../../assets/images/ru.png" alt="Flag" title="Flag">{{'ru' | translate}}</a>
                  </div>
                </li>
              </ul>
            </div>

            <!-- /.Social Button -->
            <div class="pst_btn_form hidden-xs hidden-sm">
<!--
              <button (click)="test()">TEST</button>
-->
              <ul>
                <li>
                  <a class="a-button" routerLink="/a/login" *ngIf="!authService.isAuthenticated">
                    <i class="fa fa-sign-in"></i> {{"login / register" | translate}}
                  </a>
                  <a class="a-button" (click)="authService.logout()" *ngIf="authService.isAuthenticated">
                    <i class="fa fa-sign-out"></i> {{"logout" | translate}}
                  </a>
                </li>
              </ul>
            </div>
            <div class="header_btn header_btn_full visible-xs visible-sm response_add_property">

              <a href="add_listing.html"><i class="fa fa-plus"></i> {{ 'add listing' | translate }}</a>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--bottom header wrappper start-->
  <div class="transparent-menu inner_menu header-area hidden-menu-bar stick">

    <div class="container">
      <div class="row">
        <div class="bt_main_menu_wrapper">
          <div class="main-menu-wrapper main_menu_wrapper_2 clear-fix">

            <div class="logo float-left">
              <a routerLink="/"><img src="../assets/images/top_logo.png" alt="LOGO"></a>
            </div>

            <div class="serach-header bt_search_wrapper_respnsive hidden-lg hidden-md">
              <button class="searchd"><i class="fa fa-search"></i></button>
              <div class="searchbox">
                <button class="close">×</button>
                <form>
                  <input type="search" placeholder="Search …">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>

          </div>

          <div class="sc_navigation hidden-sm hidden-xs">
            <!--search -->
            <nav id="primary-nav" class="dropdown nav_left_margin">
              <!-- search code end -->
              <ul class="dropdown menu cart_dropdown_wrapper">
                <li><a href="#" title="">{{'find a property' | translate}}</a>
                  <ul class="dropdown_header">
                    <li><a href="home_slider.html" title=""> home slider</a></li>
                    <li><a href="home_map.html" title=""> home map</a></li>
                    <li><a href="home_vedio.html" title=""> home vedio</a></li>
                    <li><a href="home_parallax.html" title=""> home image</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" title="">{{ "market your property" | translate}}</a>
                  <ul class="dropdown_header">
                    <li><a href="property_listing_map.html" title=""> listing map</a>

                    </li>
                    <li><a href="property_listing_sidebar.html" title=""> listing sidebar</a>

                    </li>
                    <li><a href="full_grid.html" title=""> full grid</a>

                    </li>
                    <li><a href="full_list.html" title=""> full list</a>

                    </li>
                    <li><a href="#" title="">more property
                      <span><i class="fa fa-caret-right"></i>
													  </span></a>

                      <ul class="dropdown-menu-right">
                        <li>
                          <a href="property_sell_1.html"> property for sale 1</a>
                        </li>
                        <li>
                          <a href="property_sell_2.html">property for sale 2</a>
                        </li>
                        <li>
                          <a href="property_rent_1.html">property on rent 1</a>
                        </li>
                        <li>
                          <a href="property_rent_2.html">property on rent 2</a>
                        </li>

                      </ul>
                    </li>

                  </ul>
                </li>

                <li><a href="#" title="">{{"find a sevice" | translate}}</a>
                  <ul class="dropdown_header">
                    <li><a href="404.html" title=""> 404 error</a></li>
                    <li><a href="about_us.html" title=""> about us</a></li>
                    <li><a routerLink="/login" title=""> login</a></li>

                    <li><a href="register.html" title=""> register</a></li>
                    <li>
                      <a href="pricing.html">pricing table</a>
                    </li>
                    <li>
                      <a href="comming_soon.html">comming soon</a>
                    </li>
                    <li>
                      <a href="checkout.html">checkout</a>
                    </li>
                    <li>
                      <a href="product_details.html">product details</a>
                    </li>

                  </ul>
                </li>

                <li><a href="#" title="">{{'why DAPO' | translate}}</a>
                  <ul class="dropdown_header">
                    <li><a href="blog_single.html" title=""> blog single</a></li>
                    <li><a href="blog_category.html" title="">blog category</a></li>
                  </ul>
                </li>
                <!--<li><a href="#" title="">shop</a>
                  <ul class="dropdown_header">
                    <li><a href="cart.html" title=""> cart page</a></li>
                    <li>
                      <a href="checkout.html">checkout</a>
                    </li>
                    <li>
                      <a href="product_details.html">product details</a>
                    </li>
                  </ul>
                </li>-->
                <li><a href="contact_us.html" title="">{{"contact us" | translate}}</a>

                </li>
                <li>
                  <button class="searchd inner_login"><i class="fa fa-search"></i></button>
                </li>
                <!--<li class="caret_btn">
                  <a href="#"><i class="fa fa-shopping-basket"></i><span>2</span></a>
                  <ul>
                    <li>
                      <div class="cc_cart_wrapper1 menu-button">
                        <div class="cc_cart_img_wrapper">
                          <img src="../assets/images/insta_1.png" alt="cart_img" />
                        </div>
                        <div class="cc_cart_cont_wrapper">
                          <h4><a href="#">38/955 Kilda Road</a></h4>
                          <p>1 <span> $145 </span> </p>
                          <h5><i class="fa fa-times"></i></h5>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="cc_cart_wrapper1 menu-button">
                        <div class="cc_cart_img_wrapper">
                          <img src="../assets/images/insta_2.png" alt="cart_img" />
                        </div>
                        <div class="cc_cart_cont_wrapper">
                          <h4><a href="#">30/11 Degves Street</a></h4>
                          <p>1 <span> $145 </span></p>
                          <h5><i class="fa fa-times"></i></h5>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="cc_cart_wrapper1 menu-button">
                        <div class="cc_cart_img_wrapper">
                          <img src="../assets/images/insta_3.png" alt="cart_img" />
                        </div>
                        <div class="cc_cart_cont_wrapper">
                          <h4><a href="#">11/1 Oliva Stret</a></h4>
                          <p>1 <span> $145 </span></p>
                          <h5><i class="fa fa-times"></i></h5>
                        </div>
                      </div>
                      <div class="btm_cart_wrapper">
                        <h5>$450.00</h5>
                        <p>3 items</p>
                      </div>
                      <div class="cart_checkout_btn">

                        <a href="checkout.html">checkout</a>

                      </div>
                    </li>

                  </ul>
                </li>-->
                <li>
                  <div class="header_btn header_btn_full">

                    <a href="add_listing.html"><i class="fa fa-plus"></i> {{ 'add listing' | translate }}</a>

                  </div>
                </li>

              </ul>
            </nav>
            <!-- Menu -->

          </div>
          <!-- /.main-menu-wrapper -->
          <!-- mobile menu area start -->
          <div class="mobile-menu-area visible-sm visible-xs">
            <div class="container">
              <div class="row">

                <div class="col-xs-12 cc_menu_top_margin">
                  <!-- mobile menu start -->
                  <div class="mobile-menu">
                    <nav>
                      <ul class="nav">
                        <li><a href="#" title="">home</a>
                          <ul>
                            <li><a href="home_slider.html" title="">home slider</a></li>
                            <li><a href="home_map.html" title=""> home map</a></li>
                            <li><a href="home_vedio.html" title=""> home vedio</a></li>
                            <li><a href="home_parallax.html" title=""> home image</a></li>
                          </ul>
                        </li>

                        <li><a href="#">properties</a>
                          <ul class="dropdown_header">

                            <li><a href="property_listing_map.html" title=""> listing map</a>
                            </li>
                            <li><a href="property_listing_sidebar.html" title=""> listing sidebar</a>

                            </li>
                            <li><a href="full_grid.html" title=""> full grid</a>

                            </li>
                            <li><a href="full_list.html" title=""> full list</a>

                            </li>
                          </ul>
                        </li>

                        <li><a href="#" title=""> more property</a>
                          <ul class="dropdown_header">
                            <li>
                              <a href="property_sell_1.html"> property for sale 1</a>
                            </li>
                            <li>
                              <a href="property_sell_2.html">property for sale 2</a>
                            </li>
                            <li>
                              <a href="property_rent_1.html">property on rent 1</a>
                            </li>
                            <li>
                              <a href="property_rent_2.html">property on rent 2</a>
                            </li>

                          </ul>
                        </li>

                        <li><a href="#">pages</a>
                          <ul class="dropdown_header">
                            <li><a href="404.html" title=""> 404 error</a></li>
                            <li><a href="about_us.html" title=""> about us</a></li>
                            <li><a href="login.html" title=""> login</a></li>

                            <li><a href="register.html" title=""> register</a></li>
                            <li>
                              <a href="pricing.html">pricing table</a>
                            </li>
                            <li>
                              <a href="comming_soon.html">comming soon</a>
                            </li>
                            <li>
                              <a href="checkout.html">checkout</a>
                            </li>
                            <li>
                              <a href="product_details.html">product details</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#" title="">blog</a>
                          <ul class="dropdown_header">
                            <li><a href="blog_single.html" title=""> blog single</a></li>
                            <li><a href="blog_category.html" title="">blog category</a></li>
                          </ul>
                        </li>
                        <li><a href="#" title="">shop</a>
                          <ul class="dropdown_header">
                            <li><a href="cart.html" title=""> cart page</a></li>
                            <li>
                              <a href="checkout.html">checkout</a>
                            </li>
                            <li>
                              <a href="product_details.html">product details</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="contact_us.html" title="">contact us</a>

                        </li>
                        <li>
                          <a href="login.html">
                            <i class="fa fa-sign-in"></i>login / register

                          </a>
                        </li>

                      </ul>
                    </nav>
                  </div>
                  <!-- mobile menu end -->
                </div>
              </div>
            </div>
          </div>
          <!-- mobile menu area end -->
        </div>
        <!-- /.main-menu-wrapper -->
      </div>
    </div>
  </div>

  <!--header section end-->
</header>
<!-- tb header end -->
