/* You can add global styles to this file, and also import other style files */
.login_btn {
  width: 100%;
  padding: 1em;
  font-size: large;
  text-transform: uppercase;
}

.a-button {
  cursor: pointer
}
