.main_search_panel {
  margin-top: 30px;
  width: 100%;
  height: calc(100vh - 50px);
}

.mat-tab-label {
  padding: 20px !important;
  min-width: 30px !important;
  width: 30px !important;
}

.map-container {
  width: 100%;
  min-height: 40vh;
  background-color: lightgrey;
}

.search-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .main_search_panel {
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 130px);
  }
}
