<div class="register_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
        <div class="tb_work_txt_wrapper">
          <div class="abt_txt_box heading_center">
            <div class="tb_left_heading_wraper heading_center_line">
              <p>{{ message | translate }}</p>
            </div>
            <div class="login_message">
              <p>{{'Try again' | translate }}<a routerLink="/a/login"> {{'login'|translate}} </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
